﻿@{
    ViewData["Title"] = "Home Page";
}

<style>
    /*Estilos de los elementos del HTML*/
     #caja {
         border: 2px solid black; 
         border-radius: 20px; 
         width: 400px; 
         height: 350px; 
         text-align: center;
         margin-left: 350px;
         margin-top: 50px;
         position: absolute;
         background-color: #A9BCF5;
     }
    
    #respuestas {
        width: 300px;
        height: 50px;
        border: 1px solid black;
        text-align: center;
        margin-left: 50px;
        margin-top: 4px;
        background-color: #E6E6E6;
        border-radius: 15px; 
    }
     
    #pregunta {
        width: 300px;
        height: 50px;
        margin-top: 20px;
        text-align: center;
        border: 1px solid black;
        margin-left: 50px;
        margin-bottom: 40px;
        background-color: #E6E6E6;
        border-radius: 15px;
    } 
    
    #submit {
        width: 60px;
        height: 30px;
        margin-top: 20px;
        margin-left: 160px;
        
    }
    
    .boton{
        background-color: forestgreen;
        border-radius: 15px;
        width: 80px;
        height: 30px;
    }
     
     #respuestas,input:checked {
         background-color: red;
     }
</style>

<div id="caja">
    
    <div id="pregunta">
        <p>Pregunta: </p>
    </div>
    
    <form>
        <div id="respuestas">
            <input type="radio" name="gender"> R1
        </div>

        <div id="respuestas">
            <input type="radio" name="gender"> R2
        </div>

        <div id="respuestas">
            <input type="radio" name="gender"> R3
        </div>
    
        <div id="submit">
            <input type="button" value="Enviar" class="boton">
        </div>
    </form>
    
</div>